@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap");
body {
  background: #CCD7EA;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #4d484a;
  word-break: break-all;
  font-size: 16px; }

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available; } }
input {
  color: #4d484a; }

.my-icon {
  background: url(../image/me.png);
  background-size: 85% !important; }

.pink-blue {
  background: linear-gradient(to right bottom, #f0d4e1, #99A8ce); }

.white-blue {
  background: linear-gradient(to right bottom, #f7f4e5, #99A8ce); }

.blue {
  background: linear-gradient(to right bottom, #99A8ce, #4863ad); }

.green {
  background: linear-gradient(to right bottom, #f7f4e5, #adcab0); }

.cat {
  background: url(../image/SpokyBoo_cat_mini.png); }

.rabbit {
  background: url(../image/usa.png); }

.nadja {
  background: url(../image/nadja.jpg); }

.tropical {
  background: url(../image/tropical.jpg); }

a {
  text-decoration: none;
  color: #4d484a; }

p {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line; }

/* ローディング (共通) */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .loading .loader_wrappar {
    display: inline-block;
    height: 36px; }
  .loading .loader,
  .loading .loader:before,
  .loading .loader:after {
    border-radius: 30%;
    width: 12px;
    height: 12px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out; }
  .loading .loader {
    color: #99A8ce;
    content: '';
    font-size: 12px;
    line-height: 12px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .loading .loader:before,
  .loading .loader:after {
    content: '';
    position: absolute;
    top: 0; }
  .loading .loader:before {
    left: -24px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading .loader:after {
    left: 24px; }
@-webkit-keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 12px 0 -12px; }
  40% {
    box-shadow: 0 12px 0 0; } }
@keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 12px 0 -12px; }
  40% {
    box-shadow: 0 12px 0 0; } }
/* ヘッダー (共通) */
header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100; }
  header nav {
    background: white;
    padding: 8px;
    padding-top: 12px;
    display: flex;
    justify-content: center; }
    header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
      color: #c2a2b6;
      text-decoration: none;
      padding: 0 8px 0 8px; }
      @media (min-width: 550px) {
        header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
          padding: 0 16px 0 16px; } }
  header .race-top {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 16px;
    background: url(../image/lace_top.png);
    background-size: auto 16px;
    background-position: center;
    transform: scale(1, -1); }

/* アイコン */
.icon-wrappar {
  padding: 2px;
  text-align: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8%;
  min-width: 48px; }

.icon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 8%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.main {
  padding-top: 56px;
  box-sizing: border-box;
  position: relative; }

.main-content {
  box-sizing: border-box;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 88px;
  text-align: center;
  position: relative; }
  .main-content .main-content-inner {
    display: inline-block;
    width: 100%;
    text-align: left; }
    @media (min-width: 550px) {
      .main-content .main-content-inner {
        width: 50%; } }

/* トップページ */
.messages .messages-inner .message {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-bottom: 8px; }
.messages .messages-inner .baloon {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 10px;
  background-color: #c2a2b6;
  border-radius: 8px;
  text-align: justify;
  /* 大きい丸 */
  /* 小さい丸 */ }
  .messages .messages-inner .baloon:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #c2a2b6;
    left: -17px;
    bottom: 5px;
    width: 12px;
    height: 12px; }
  .messages .messages-inner .baloon:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #c2a2b6;
    left: -28px;
    bottom: 0px;
    width: 8px;
    height: 8px; }
.messages .messages-inner .myMessage {
  flex-flow: row-reverse; }
  .messages .messages-inner .myMessage .icon-wrappar {
    display: none; }
  .messages .messages-inner .myMessage .baloon {
    margin-left: 56px;
    margin-right: 32px;
    background-color: #99A8ce; }
    .messages .messages-inner .myMessage .baloon:before {
      left: initial;
      right: -17px;
      background-color: #99A8ce; }
    .messages .messages-inner .myMessage .baloon:after {
      left: initial;
      right: -28px;
      background-color: #99A8ce; }

.input-message-area {
  line-height: 0;
  font-size: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .input-message-area .race {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 32px;
    background: url(../image/lace.png);
    background-size: auto 34px;
    background-position: center; }
  .input-message-area .input-message {
    background: white;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px 8px 8px;
    text-align: center; }
    .input-message-area .input-message .input-message-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (min-width: 550px) {
        .input-message-area .input-message .input-message-inner {
          width: 75%; }
          .input-message-area .input-message .input-message-inner::before {
            display: inline-block;
            width: 50%;
            height: 1px;
            content: ""; } }
    .input-message-area .input-message div {
      line-height: 1.5rem;
      font-size: 18px; }
    .input-message-area .input-message .text {
      width: 80%;
      text-align: center;
      display: inline-block; }
      .input-message-area .input-message .text #textarea {
        width: 100%;
        height: 24px;
        max-height: 120px;
        line-height: 24px;
        resize: none;
        background: #f7f4e5;
        border: 1px dashed #CCD7EA;
        border-radius: 4px;
        outline: 0; }
    .input-message-area .input-message .messsage-button {
      font-family: 'Josefin Sans', sans-serif;
      width: 20%;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      text-align: right;
      padding: 0;
      margin: 0; }
      .input-message-area .input-message .messsage-button input {
        border: 0;
        outline: none; }
      .input-message-area .input-message .messsage-button .btn,
      .input-message-area .input-message .messsage-button button.btn {
        line-height: 1;
        position: relative;
        display: inline-block;
        padding: 0.7rem 0.2rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #212529;
        border-radius: 0.5rem;
        width: 80%;
        max-width: 60px;
        text-align: center; }
      .input-message-area .input-message .messsage-button .btn-malformation {
        color: #fff;
        border-radius: 100% 80px / 80px 100%;
        background-color: #eb6100; }
      .input-message-area .input-message .messsage-button .btn-malformation:hover {
        color: #fff;
        border-radius: 60% 80% / 100% 80%; }
      .input-message-area .input-message .messsage-button .btn-malformation {
        color: #fff;
        border-radius: 100% 20px / 20px 100%; }
      .input-message-area .input-message .messsage-button .btn-malformation:hover {
        color: #fff;
        border-radius: 60% 80% / 100% 80%; }
      .input-message-area .input-message .messsage-button .btn-malformation--pastel {
        background: #fca1a1;
        background: -webkit-linear-gradient(-45deg, #f0d4e1 40%, #CCD7EA 100%);
        background: -webkit-linear-gradient(315deg, #f0d4e1 40%, #CCD7EA 100%);
        background: linear-gradient(135deg, #f0d4e1 40%, #CCD7EA 100%); }

/* ユーザー一覧ページ */
@media (min-width: 550px) {
  #user-list-inner {
    width: 480px; } }

.user {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px; }
  .user .user-name-icon {
    display: flex;
    justify-content: left;
    align-items: center; }
  .user .user-name {
    display: inline-block;
    margin: 0;
    padding: 0 8px 0 8px;
    font-size: 16px;
    color: #4d484a; }

@media (min-width: 550px) {
  #user-list-user {
    width: 50%; } }

#user-detail-name {
  font-size: 20px !important;
  padding: 0 12px 0 12px !important;
  flex: 1; }
  #user-detail-name input {
    border: none;
    background-color: transparent;
    background-image: url(../image/icon_pen.png);
    background-repeat: no-repeat;
    background-position: right 22px top 50%;
    background-size: 16px;
    line-height: 36px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding-left: 8px; }
    #user-detail-name input:focus {
      background-color: white;
      border: none;
      outline: none; }

#user-detail-icon {
  width: 80px !important;
  height: 80px !important; }

.user-detail-detail {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: inline-block;
  background: #c2a2b6;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  margin-top: 32px; }
  .user-detail-detail:before {
    top: -18px;
    left: 30px;
    background-color: #c2a2b6;
    content: '';
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute; }
  .user-detail-detail:after {
    top: -24px;
    left: 20px;
    background-color: #c2a2b6;
    content: '';
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute; }
  .user-detail-detail textarea {
    border: none;
    resize: none;
    background-color: transparent;
    background-image: url(../image/icon_pen.png);
    background-repeat: no-repeat;
    background-position: right 8px top 6px;
    background-size: 16px;
    padding-top: 4px;
    padding-right: 28px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding-left: 8px;
    box-sizing: border-box;
    height: 320px; }
    .user-detail-detail textarea:focus {
      background-color: white;
      border: none;
      outline: none; }

.selectIconBackground {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 16px; }
  .selectIconBackground .background {
    margin: 0 8px 8px 0; }

#user-info-user {
  display: inline-block;
  width: initial;
  margin: 0px 8px 8px 0; }

.account {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 12px 0; }

/* トランジション用スタイル */
.v-enter-active, .v-leave-active, .v-move {
  transition: opacity 0.8s, transform 0.5s; }

.v-leave-active {
  position: absolute; }

.v-enter {
  opacity: 0;
  transform: translateX(-20px); }

.v-leave-to {
  opacity: 0;
  transform: translateX(20px); }

#user-info-delay .user-name-icon, #user-info-delay .selectIconBackground, #user-info-delay .user-detail-detail {
  opacity: 0;
  animation: fadein 0.8s forwards; }
@keyframes fadein {
  62% {
    transform: translateX(0px); }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
#user-info-delay .user-name-icon {
  animation-delay: 0s;
  transform: translateX(-20px); }
#user-info-delay .selectIconBackground {
  animation-delay: 0.1s;
  transform: translateX(-20px); }
#user-info-delay .user-detail-detail {
  animation-delay: 0.2s;
  transform: translateX(-20px); }

#user-detail-delay .user-name-icon, #user-detail-delay .user-detail-detail {
  opacity: 0;
  animation: fadein 0.8s forwards; }
@keyframes fadein {
  62% {
    transform: translateX(0px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
#user-detail-delay .user-name-icon {
  animation-delay: 0s;
  transform: translateX(-20px); }
#user-detail-delay .user-detail-detail {
  animation-delay: 0.1s;
  transform: translateX(-20px); }

/*# sourceMappingURL=style.css.map */
